{% extends 'news/base/base.html' %}
{% load widget_tweaks %}

{% block title %}World Time | Login{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 bg-light border rounded p-5"
                 style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Login</h1>
                        </div>
                        <div class="col-md-12 mb-2">
                            {{ form.username|add_class:"form-control"|attr:"placeholder:Username" }}
                            {% if form.username.errors %}
                                {% for error in form.username.errors %}
                                    <ul>
                                        <li class="text-danger">{{ error }}</li>
                                    </ul>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-md-12 mb-2">
                            {{ form.password|add_class:"form-control"|attr:"placeholder:Password" }}
                            {% if form.password.errors %}
                                {% for error in form.password.errors %}
                                    <ul>
                                        <li class="text-danger">{{ error }}</li>
                                    </ul>
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% if form.non_field_errors %}
                            <div class="col-md-12 mb-2">
                                <span class="text-danger">{{ form.non_field_errors }}</span>
                            </div>
                        {% endif %}
                        <div class="col-md-12 mb-3">
                            <a href="{% url 'password_reset' %}">Forget Password?!</a>
                            <br>
                            <a href="">Create Account</a>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-success">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}