{% extends 'news/base/base.html' %}
{% load widget_tweaks %}

{% block title %}World Time | Reset Password{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 bg-light border rounded p-5"
                 style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                <h1>Email Sent!</h1>
                <h4>Please Check Your Email.</h4>
            </div>
        </div>
    </div>
{% endblock %}