{% extends 'news/base/base.html' %}
{% load widget_tweaks %}

{% block title %}World Time | Login{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 bg-light border rounded p-5"
                 style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                <h1>Password Successfully changed!</h1>
                <h4>
                    <a href="{% url 'login' %}">Please Login again</a>
                </h4>
            </div>
        </div>
    </div>
{% endblock %}