{% extends 'news/base/base.html' %}
{% load widget_tweaks %}

{% block title %}World Time | Login{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 bg-light border rounded p-5"
                 style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                {% if validlink %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Set New Password</h1>
                            </div>
                            <div class="col-md-12 mb-2">
                                {{ form.new_password1|add_class:"form-control"|attr:"placeholder:Password" }}
                                {% if form.new_password1.errors %}
                                    {% for error in form.new_password1.errors %}
                                        <ul>
                                            <li class="text-danger">{{ error }}</li>
                                        </ul>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-md-12 mb-2">
                                {{ form.new_password2|add_class:"form-control"|attr:"placeholder:Re Password" }}
                                {% if form.new_password2.errors %}
                                    {% for error in form.new_password2.errors %}
                                        <ul>
                                            <li class="text-danger">{{ error }}</li>
                                        </ul>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            {% if form.non_field_errors %}
                                <div class="col-md-12 mb-2">
                                    <span class="text-danger">{{ form.non_field_errors }}</span>
                                </div>
                            {% endif %}
                            <div class="col-md-12">
                                <button class="btn btn-success">Reset</button>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <h1>Link not valid</h1>
                    <h4>
                        <a href="{% url 'password_reset' %}">Try again</a>
                    </h4>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}