{% extends 'news/base/base.html' %}
{% load render_partial %}
{% load humanize %}

{% block title %}World Time | News{% endblock %}

{% block main %}
    <div class="container">
        <div class="col-sm-12">
            <div class="card aos-init aos-animate" data-aos="fade-up">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="font-weight-600 mb-4">
                                {{ title }}
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">

                            {% for object in object_list %}
                                <div class="row">
                                    <div class="col-sm-4 grid-margin">
                                        <div class="rotate-img">
                                            <img src="{{ object.image.url }}" alt="{{ object.title }}"
                                                 class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-sm-8 grid-margin">
                                        <h2 class="font-weight-600 mb-2">
                                            <a href="{% url 'news:news-detail' object.pk object.slug %}">{{ object.title }}</a>
                                        </h2>
                                        <p class="fs-13 text-muted mb-0">
                                            {{ object.created|naturaltime }}
                                        </p>
                                        <p class="fs-15">
                                            {{ object.description|truncatewords:15 }}
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        {% render_partial 'news.views.aside_component' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}