{% extends 'news/base/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}World Time | {{ object.title }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="col-sm-12">
            <div class="card aos-init aos-animate" data-aos="fade-up">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <h1 class="font-weight-600 mb-1">
                                    {{ object.title }}
                                </h1>
                                <p class="fs-13 text-muted mb-0">
                                    {{ object.created|naturaltime }}
                                </p>
                                <div class="rotate-img">
                                    <img src="{{ object.image.url }}" alt="{{ object.title }}"
                                         class="img-fluid mt-4 mb-4">
                                </div>
                                <p class="mb-4 fs-15">
                                    <strong>Summary: </strong>{{ object.description|truncatewords:20 }}
                                </p>
                            </div>
                            <hr>
                            <div>
                                <p>{{ object.description }}</p>
                            </div>
                            <div>
                                <h1 class="font-weight-600 mb-1">
                                    Related News
                                </h1>
                                <div class="row">

                                    {% for news in related_news %}
                                        <div class="col-sm-6">
                                            <div class="rotate-img">
                                                <a href="{% url 'news:news-detail' news.pk news.slug %}">
                                                    <img src="{{ news.image.url }}" alt="{{ news.title }}" width="394" height="300" class="img-fluid mt-4 mb-4">
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>

                            </div>
                            <div class="d-lg-flex">
                                <span class="fs-16 font-weight-600 mr-2 mb-1">Tags</span>
                                {% for tag in object.tags.all %}
                                    <a href="{% url 'news:news-by-tag' tag.slug %}"
                                       class="badge badge-outline-dark mr-2 mb-1">{{ tag.name }}</a>
                                {% endfor %}

                            </div>
                            <div class="post-comment-section">
                                <h3 class="font-weight-600">Related Posts</h3>

                                <div class="testimonial">
                                    <div class="d-lg-flex justify-content-between align-items-center">
                                        <ul class="social-media mb-3">
                                            <li>
                                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.scheme }}://{{ request.get_host }}/{% url 'news:news-detail' object.pk object.slug %}">
                                                    <i class="mdi mdi-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com/intent/tweet?text={{ request.scheme }}://{{ request.get_host }}/{% url 'news:news-detail' object.pk object.slug %}">
                                                    <i class="mdi mdi-twitter"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="fs-12">
                                        Share on social media!!!
                                    </p>
                                </div>
                                <div class="comment-section">
                                    <h5 class="font-weight-600">Comments</h5>
                                    <div class="comment-box">
                                        <div class="d-flex align-items-center">
                                            <div class="rotate-img">
                                                <img src="../assets/images/faces/face2.jpg" alt="banner"
                                                     class="img-fluid img-rounded mr-3">
                                            </div>
                                            <div>
                                                <p class="fs-12 mb-1 line-height-xs">
                                                    24 Jul 2020
                                                </p>
                                                <p class="fs-16 font-weight-600 mb-0 line-height-xs">
                                                    Chigusa Kisa
                                                </p>
                                            </div>
                                        </div>

                                        <p class="fs-12 mt-3">
                                            Praesent facilisis vulputate venenatis. In
                                            facilisis placerat arcu, in tempor neque aliquet
                                            quis. Integer lacinia in ligula eu sodales. Proin
                                            non lorem iaculis, dictum lorem quis, bibendum
                                            leo.
                                        </p>
                                    </div>
                                    <div class="comment-box from">
                                        <div class="d-flex align-items-center">
                                            <div class="rotate-img">
                                                <img src="../assets/images/faces/face3.jpg" alt="banner"
                                                     class="img-fluid img-rounded mr-3">
                                            </div>
                                            <div>
                                                <p class="fs-12 mb-1 line-height-xs">
                                                    24 Jul 2020
                                                </p>
                                                <p class="fs-16 font-weight-600 mb-0 line-height-xs">
                                                    Mohsen Salehi
                                                </p>
                                            </div>
                                        </div>

                                        <p class="fs-12 mt-3">
                                            Praesent facilisis vulputate venenatis. In
                                            facilisis placerat arcu, in tempor neque aliquet
                                            quis. Integer lacinia in ligula eu sodales. Proin
                                            non lorem iaculis, dictum lorem quis, bibendum
                                            leo.
                                        </p>
                                    </div>
                                    <div class="comment-box mb-0">
                                        <div class="d-flex align-items-center">
                                            <div class="rotate-img">
                                                <img src="../assets/images/faces/face3.jpg" alt="banner"
                                                     class="img-fluid img-rounded mr-3">
                                            </div>
                                            <div>
                                                <p class="fs-12 mb-1 line-height-xs">
                                                    24 Jul 2020
                                                </p>
                                                <p class="fs-16 font-weight-600 mb-0 line-height-xs">
                                                    Lucy Miller
                                                </p>
                                            </div>
                                        </div>

                                        <p class="fs-12 mt-3">
                                            Praesent facilisis vulputate venenatis. In
                                            facilisis placerat arcu, in tempor neque aliquet
                                            quis. Integer lacinia in ligula eu sodales. Proin
                                            non lorem iaculis, dictum lorem quis, bibendum
                                            leo.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}