{% load static %}
<!-- Required meta tags -->
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
<!-- plugin css for this page -->
<link
        rel="stylesheet"
        href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}"
/>
<link rel="stylesheet" href="{% static 'vendors/aos/dist/aos.css/aos.css' %}"/>

<!-- End plugin css for this page -->
<link rel="shortcut icon" href="{% static 'images/favicon.png' %}"/>

<!-- inject:css -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">